<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <h1><%= content_for :title %></h1>
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <% if content_for? :breadcrumb %>
          <li class="current"><%= yield :breadcrumb %></li>
        <% end %>
      </ul>


      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>

